body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a6beea;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1{
text-align: center;
color: #004080
}
h2 {
    color: #004080; /* Un tono azul acorde al estilo del hotel */
 
}

.section {
    margin-bottom: 40px;
}

.section p {
    line-height: 1.6;
}

.mission, .vision {
    background-color: #e0f7fa; /* Color suave para diferenciar */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mission h2, .vision h2 {
    margin-top: 0;
}
.contenedor {
    text-align: center; /* Centra todos los elementos en línea dentro del contenedor */
}

.imagen-centro {
    max-width: 100%; /* Para que no exceda el ancho del contenedor */
}